# csv
The simplest way to read a csv is through the Python csv module.

In [9]:
import csv
filename = 'tabular_csv.csv'
csv_reader = csv.reader(open(filename,'rb'), delimiter=',')

In [10]:
csv_rows = list()
csv_attr_dict = dict()
for row in csv_reader:
    print row
    csv_rows.append(row)
for col in csv_rows[0]:
    csv_attr_dict[col] = list()
for row in csv_rows[1:]:
    csv_attr_dict['sno'].append(row[0])
    csv_attr_dict['fruit'].append(row[1])
    csv_attr_dict['color'].append(row[2])
    csv_attr_dict['price'].append(row[3])
print csv_attr_dict

['sno', 'fruit', 'color', 'price']
['1', 'apple', 'red', '110.85']
['2', 'banana', 'yellow', '50.12']
['3', 'mango', 'yellow', '70.29']
['4', 'orange', 'orange', '80.00']
['5', 'kiwi', 'green', '150.00']
['6', 'pineapple', 'yellow', '90.00']
['7', 'guava', 'green', '20.00']
{'color': ['red', 'yellow', 'yellow', 'orange', 'green', 'yellow', 'green'], 'sno': ['1', '2', '3', '4', '5', '6', '7'], 'price': ['110.85', '50.12', '70.29', '80.00', '150.00', '90.00', '20.00'], 'fruit': ['apple', 'banana', 'mango', 'orange', 'kiwi', 'pineapple', 'guava']}

In [11]:
import pandas as pd
df = pd.read_csv(filename, sep=',')

In [12]:
df

   sno      fruit   color   price
0    1      apple     red  110.85
1    2     banana  yellow   50.12
2    3      mango  yellow   70.29
3    4     orange  orange   80.00
4    5       kiwi   green  150.00
5    6  pineapple  yellow   90.00
6    7      guava   green   20.00